<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
    <!-- 서블릿 매핑 4(예제 14-4) -->
  <servlet>
    <servlet-name>MVCBoardList</servlet-name>
    <servlet-class>model2.mvcboard.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCBoardList</servlet-name>
    <url-pattern>/mvcboard/list.do</url-pattern>
  </servlet-mapping>
  
  <!-- 서블릿 매핑 5(예제 14-7) -->
  <servlet>
    <servlet-name>MVCBoardWrite</servlet-name>
    <servlet-class>model2.mvcboard.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCBoardWrite</servlet-name>
    <url-pattern>/mvcboard/write.do</url-pattern>
  </servlet-mapping>

  <!-- 첨부 파일 최대 용량 설정(예제 14-8) -->
  <context-param>
    <param-name>maxPostSize</param-name>
    <param-value>1024000</param-value>
  </context-param>
  
    <context-param>
       <param-name>Driver</param-name>
       <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>

  <context-param>
       <param-name>Id</param-name>
       <param-value>root</param-value>
  </context-param>
  <context-param>
       <param-name>Pwd</param-name>
       <param-value>1234</param-value>
  </context-param>
  
  <context-param>
       <param-name>URL</param-name>
       <param-value>jdbc:mysql://localhost:3306/test?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
       <param-name>POSTS_PER_PAGE</param-name>
       <param-value>10</param-value>
  </context-param>
  <context-param>
       <param-name>PAGES_PER_BLOCK</param-name>
       <param-value>5</param-value>
  </context-param>
   
</web-app>

